<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_PATH" value="/home/log/emailservice/"/>
    <property name="LOG_FILE" value="email-service"/>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 5KB -->
            <maxFileSize>20KB</maxFileSize>
            <!-- total size of all archive files, if total size > 20KB,
				it will delete old archived file -->
            <totalSizeCap>50KB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>120</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] [Line: %L] %m%n %ex</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-debug.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 5KB -->
            <maxFileSize>2KB</maxFileSize>
            <!-- total size of all archive files, if total size > 20KB,
				it will delete old archived file -->
            <totalSizeCap>50KB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>120</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] [Line: %L] %m%n %ex</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-info.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE}-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 5KB -->
            <maxFileSize>2KB</maxFileSize>
            <!-- total size of all archive files, if total size > 20KB,
				it will delete old archived file -->
            <totalSizeCap>50KB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>120</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] [Line: %L] %m%n %ex</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    
    <logger name="com.emailservice" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-DEBUG"/>
    </logger>

	<logger name="com.emailservice" level="INFO" additivity="false">
        <appender-ref ref="FILE-INFO"/>
    </logger>
    
    <root level="DEBUG">
        <appender-ref ref="FILE-ERROR"/>
    </root>

    <!-- <logger name="com.dailycodebuffer" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger> -->
    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>